.App-head {
  text-align: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
}

.App-body {
  text-align: left;
  justify-content: left;
  margin-left: 40px;
  font-size: calc(10px + 2vmin);
}

.App-page {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}
