.App-head {
  text-align: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

.App-body {
  text-align: left;
  justify-content: left;
  margin-left: 40px;
  font-size: calc(10px + 2vmin);
}

.App-page {
  background-color: #fce5c5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: black;
}

#picture{
  background-image: url('util/boat.jpg');
  border: 1px solid black;
}

#fileElem{
  display: none;
}

#downloader{
  display: none;
}
